/* CSS Document */

@charset "utf-8";

.menu-inferior {
    display: flex;
    flex-direction: row;

    border: 1px solid #EEEEEE;
    background-color: white;

    padding: 12px;
    box-sizing: border-box;

    border-radius: 16px;

    height: min-content;

    align-items: center;

    justify-content: space-between;

    position: sticky;

    margin-top: 24px;
    
    width: 692px;

    align-self: center;
}

.confirmacao {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.label-confirmacao {
    color: #333;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;

    overflow-wrap: break-word;

    height: 34px;

    align-items: center;
    display: flex;
    flex-direction: row;

    margin-left: 8px;
}

button#exportar {
    height: 56px;
    width: min-content;

    display: flex;
    flex-direction: row;
    gap: 8px;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;

    align-items: center;

    border: 0px;
    padding: 0px 24px 0px 24px;

    border-radius: 28px;
}

button#exportar .icon {
    font-size: 24px;
    font-variation-settings: 'fill' 0 'wght' 500 'grad' 0 'opsz' 24;
}

button#exportar.enabled {
    cursor: pointer;
    background-color: #0F9D58;

    color: white;
}

button#exportar.disabled {
    cursor: not-allowed;
    background-color: rgb(from var(--md-sys-color-on-surface) r g b / 0.1);

    color: rgb(from var(--md-sys-color-on-surface) r g b / 0.38);
}

/* CHECKBOX */



/* MEDIA */

@media (max-width: 1100px) {
    .menu-inferior {
        position: relative;

        width: 100%;

        margin-top: 12px;
    }
}

@media (max-width: 760px) {
    .menu-inferior {
        flex-direction: column;
        gap: 12px;
    }

    .label-confirmacao {
        margin-left: 0px;
    }

    button#exportar {
        width: 100%;
    }
}