/* CSS Document */

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-destaque: #010080;
    --cinza-titulos: #333;

    --md-sys-color-outline: ;
    --md-sys-color-on-surface-variant: ;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 240px auto;
}

header#navdrawer {
    height: 100vh;
    width: 240px;
    display: flex;
    flex-direction: column;
}

.sistema-logo {
    height: 64px;
    padding: 12px 0px 12px 12px;
    box-sizing: border-box;
    background-color: var(--cor-destaque);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

#logo {
    height: 40px;
}

.logo-div{
    height: 100%;
    width: 1px;
    background-color: white;
}

.sistema-navdrawer {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 12px 12px 12px 12px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #EEEEEE;

    /* Para rolagem */
    overflow-y: auto;
    max-height: calc(100vh - 64px); /* ajusta esse valor conforme altura do header e margens */
}

.up-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.down-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    margin-top: 8px;
}

.navdrawer-div {
    margin-top: 1px;
    margin-bottom: 1px;
    height: 1px;
    width: 190px;
    background-color: #EEEEEE;
    border-radius: 1px;
}

.navdrawer-option {
    width: 100%;
    height: 48px;
    padding: 12px;
    box-sizing: border-box;
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;

    color: #666;
    background-color: white;

    border-radius: 16px;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;

    cursor: pointer;

    text-decoration: none;

    font-variation-settings: 'FILL' 0;
}

.navdrawer-option.ativo {
    color: white;
    background-color: var(--cor-destaque);

    font-variation-settings: 'FILL' 1;

    font-weight: 500;
}

.navdrawer-option:hover:not(.ativo) {
    color: #666;
    background-color: #F5F5F5;

    font-variation-settings: 'FILL' 1;

    transition: all 0.2s ease-in-out;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: #F9F9F9;

    overflow: visible !important;
    z-index: 1;
}

header#pagina {
    background-color: var(--cor-destaque);
    width: 100%;
    height: 64px;

    display: flex;
    flex-direction: column;
    padding-left: 16px;

    justify-content: center;

    gap: 10px;

    color: white;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;

    text-align: left;

    line-height: 8px;
}

.sistema-pagina {
    display: flex;
    width: calc(100% - 48px);

    padding: 36px 24px 24px 24px;

    align-items: center;
    flex-direction: column;
    
    /* Para rolagem */
    overflow-y: auto;
    height: calc(100vh - 124px);
    max-height: calc(100vh - 124px); /* ajusta esse valor conforme altura do header e margens */

    position: relative;

    overflow-x: visible;
}

h1 {
    color: var(--cor-destaque);
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;

    text-align: center;

    line-height: 17px;

    margin: 0px 0px 24px 0px;

    white-space: nowrap;
}

#select-h1 {
    color: var(--cor-destaque);
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;

    text-align: left;

    height: 36px;

    box-sizing: border-box;

    background-color: #F9F9F9;
    border: 0px;
    border-radius: 8px;
    padding: 0px 0px 0px 0px;

    margin-top: -7px;
    margin-bottom: 17px;

    cursor: pointer;
}

.formularios {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.area-boxes {
    display: grid;
    grid-template-columns: 340px 340px;
    gap: 12px;
    justify-content: center;
}

.area-boxes.grid3 {
    grid-template-columns: 340px 340px 340px;
}

.area-boxes.mono {
    grid-template-columns: 480px;
}

.base-box {
    border: 1px solid #EEEEEE;
    background-color: white;

    padding: 22px;
    box-sizing: border-box;

    width: 100%;

    height: min-content;

    border-radius: 16px;
}

.h2-ativar {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.h2-ativar.ativo {
    margin-bottom: 14px;
}

.h2-ativar h2 {
    margin: 0px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #0F9D58;

    margin: 0px 0px 0px 8px;

    cursor: pointer;
}

h2 {
    color: var(--cinza-titulos);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;

    text-align: left;

    line-height: 12px;

    margin: 0px 0px 20px 0px;

    white-space: nowrap;
}

.base-boxcampos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.campo {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.label {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    height: 16px;

    align-items: center;    
}

.label-campo {
    color: var(--cinza-titulos);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;

    text-align: left;

    line-height: 9px; 

    display: flex;
    align-items: center;
}

input.input {
    color: #666;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;

    text-align: left;

    height: 36px;
    width: 100%;

    box-sizing: border-box;

    background-color: #F5F5F5;
    border: 0px;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;

    overflow: hidden; /* esconde qualquer conteúdo que ultrapasse a largura */
    white-space: nowrap; /* faz com que o texto não quebre para a próxima linha */
    text-overflow: ellipsis; /* adiciona "..." para indicar que o texto foi truncado */
}

input.input:focus {
    outline: none;
}

input::placeholder {
  color: #bdbdbd;
  font-weight: 500;
}

.campo-texto {
    color: #666;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    text-align: justify;
}

.campo-texto p {
    margin: 0px;
}

#copiar {
    cursor: pointer;
}

.campo select {
    color: #666;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;

    text-align: left;

    height: 36px;
    width: 100%;

    box-sizing: border-box;

    background-color: #F5F5F5;
    border: 0px;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
}

.box-duplo {
    display: flex;
    flex-direction: column;
    gap: 12px;

    box-sizing: border-box;
}

.campo-duplo {
    display: flex;
    flex-direction: row;

    gap: 8px;
}

.campo-duplo .campo {
    width: 100%;
}

input.input.receita {
    background-color: #cbe3d2;
    color: #005317;
}

input.input.receita::placeholder {
    color: rgba(0, 83, 23, 0.5);
}

input.input.despesa {
    background-color: #e3bebe;
    color: #480000;
}

input.input.despesa::placeholder {
    color: rgba(97, 0, 0, 0.5);
}

.label-campo.receita {
    color: #005E1A;
}

.label-campo.despesa {
    color: #610000;
}

.campos-divisoria {
    width: 100%;
    height: 1px;

    background-color: #EEEEEE;
    border-radius: 1px;
}

/* BOTÕES */

.sistema-pagina button{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 20px;
    box-sizing: border-box;

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    text-align: left;

    height: 40px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;

    transition: all 0.2s ease-in-out;
}

.sistema-pagina button .material-symbols-rounded {
    font-size: 20px;
    font-variation-settings: 'FILL' 0 'wght' 500 'GRAD' 0 'opsz' 20;
}

button.filled {
    background-color: var(--md-sys-color-primary);
    border: none;
    
    color: var(--md-sys-color-on-primary);
}

button.filled:hover {
    background-color: color-mix(
        in srgb, var(--md-sys-color-primary) 100%,
        var(--md-sys-color-on-primary) 8%);
}

button.filled:active {
    transform: scale(0.99);
    
    font-weight: 500;

    font-variation-settings:'FILL' 1;
}

button.outlined {
    background-color: var(--md-sys-color-surface);
    border: 1px solid var(--md-sys-color-outline-variant);
    
    color: var(--md-sys-color-on-surface-variant);
}

button.outlined:hover {
    background-color: rgb(from var(--md-sys-color-on-surface-variant) rgb / var(--md-sys-state-hover-state-layer-opacity));
}

button.outlined:active {
    transform: scale(0.99);
    
    font-weight: 500;

    font-variation-settings:'FILL' 1;
}

button .label {
    margin-top: 2px;
    height: 0px;
}

/* SWITCH */

.md-switch {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.md-switch input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.track {
    position: relative;
    width: 52px;
    height: 32px;
    border-radius: 16px;
    box-sizing: border-box;

    background: var(--md-sys-color-surface-container-highest);
    border: 2px solid var(--md-sys-color-outline);

    transition:
        background-color .2s,
        border-color .2s;
}

.thumb {
    position: absolute;
    top: 50%;
    left: 6px;

    width: 16px;
    height: 16px;

    border-radius: 8px;
    background: var(--md-sys-color-outline);

    transform: translateY(-50%);
    transition:
        left .25s cubic-bezier(.2,0,0,1),
        width .15s,
        height .15s,
        background-color .2s;
}

.md-switch input:checked + .track {
    background: var(--md-sys-color-primary);
    border-color: var(--md-sys-color-primary);
}

.md-switch input:checked + .track .thumb {
    left: 22px;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    background: var(--md-sys-color-on-primary);
}

.md-switch:active .thumb {
    border-radius: 14px;
    width: 28px;
    height: 28px;
}

.md-switch:active input:not(:checked) + .track .thumb {
    left: 0;
}

.md-switch:active input:checked + .track .thumb {
    left: 20px;
    border-radius: 14px;
    width: 28px;
    height: 28px;
}

.md-switch .track::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 50%;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    transform: translate(-50%, -50%);

    background: var(--md-sys-on-surface);
    opacity: 0;

    transition: .2s;

    pointer-events: none;
}

.md-switch input:checked + .track::before {
    left: 34px;
}

.md-switch:hover .track::before {
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.md-switch input:focus-visible + .track::before {
    opacity: var(--md-sys-state-focus-state-layer-opacity);
}

.md-switch:active .track::before {
    opacity: var(--md-sys-state-pressed-state-layer-opacity);
}

/* TOOLTIP */

.label .tooltip {
    cursor: pointer;

    color: var(--md-sys-color-on-surface);

    font-size: 20px;
    font-variation-settings: 'opsz' 20;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    overflow: visible;
}

.tooltip::before {
    content: '';

    position: absolute;

    width: 28px;
    height: 28px;

    border-radius: 50%;

    background-color: var(--md-sys-color-on-surface);

    opacity: 0;

    transition: opacity .2s;

    pointer-events: none;
}

.tooltip:hover::before {
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.tooltip-global {
    position: fixed;

    display: inline-block;
    width: fit-content;

    max-width: 300px;

    white-space: normal;
    overflow-wrap: break-word;

    padding: 6px 8px;
    border-radius: 8px;

    background-color: var(--md-sys-color-inverse-surface);
    box-sizing: border-box;

    color: var(--md-sys-color-inverse-on-surface);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.04em;

    text-align: center;

    opacity: 0;
    visibility: hidden;

    transition: opacity .2s;

    z-index: 1000;

    pointer-events: none;
}

.tooltip-global.ativo {
    opacity: 1;
    visibility: visible;
}

/* RESPONSIVIDADE */

@media (max-width: 1330px) {
    .area-boxes.grid3 {
        grid-template-columns: calc(33% - 8px) calc(33% - 8px) calc(34% - 8px);
    }
}

@media (max-width: 1100px) {
    .area-boxes.grid3 {
        grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    }
}

@media (max-width: 1020px) {
    .area-boxes {
        grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    }

    .area-boxes.grid3 {
        grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    }
}

@media (max-width: 840px) {
    .area-boxes {
        grid-template-columns: 100%;
    }

    .area-boxes.grid3 {
        grid-template-columns: 100%;
    }

    .area-boxes.mono {
        grid-template-columns: 100%;
    }
}