/* CSS Document */

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-destaque: #010080;
    --cinza-titulos: #333;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 96px auto;

    transition: all 0.2s ease-in-out;
}

body.expanded {
    grid-template-columns: 240px auto;

    transition: all 0.2s ease-in-out;
}

/* NAVDRAWER & SISTEMA */

#navdrawer {
    height: 100vh;
    width: 96px;
    display: flex;
    flex-direction: column;

    background-color: var(--md-sys-color-surface-container-low);

    transition: all 0.2s ease-in-out;
}

#navdrawer.expanded {
    transition: all 0.2s ease-in-out;
    width: 240px;
}

.sistema-header {
    height: 64px;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--md-sys-color-surface-container-low);
}

.sistema-header.expanded {
    background-color: var(--md-sys-color-surface-container-low);
}

.navdrawer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--md-sys-color-on-surface-variant);

    padding: 16px;

    border-radius: 28px;

    position: relative;
}

.menu-state-layer {
    margin-left: -16px;
    background-color: var(--md-sys-color-on-surface);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.navdrawer-menu:hover .menu-state-layer {
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.navdrawer-menu:active .menu-state-layer {
    opacity: var(--md-sys-state-pressed-state-layer-opacity);
}

.logo {
    height: 40px;
    margin-left: 8px;

    user-select: none;
    z-index: 2;
}

#logo {
    height: 100%;
}

.logo-div{
    height: 100%;
    width: 1px;
    background-color: white;
}

.sistema-navdrawer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 20px 12px 20px;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--md-sys-color-surface-container-low);
    
    /* Para rolagem */
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 64px); /* ajusta esse valor conforme altura do header e margens */
}

.sistema-navdrawer.expanded {
    transition: all 0.2s ease-in-out;
}

.up-side {
    display: flex;
    flex-direction: column;
    gap: 0px;

    align-items: center;
}

.down-side {
    display: flex;
    flex-direction: column;
    gap: 0px;

    align-items: center;
}

.navdrawer-div {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 1px;

    width: 100%;

    background-color: var(--md-sys-color-outline-variant);
    border-radius: 1px;
}

.navdrawer-div.expanded {

    background-color: var(--md-sys-color-outline-variant);
}

.navdrawer-option {
    min-width: 56px;
    width: 100%;
    height: 56px;
    border-radius: 28px;
    padding: 16px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    gap: 8px;

    color: var(--md-sys-color-on-surface-variant);

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-wrap: nowrap;

    cursor: pointer;

    text-decoration: none;

    font-variation-settings: 'FILL' 0;

    position: relative;

    transition: font-variation-settings 0.2s ease-in-out;
}

.navdrawer-option:hover {
    transition: font-variation-settings 0.2s ease-in-out, font-weight 0s ease;
    color: var(--md-sys-color-on-surface);
    font-weight: 600;
    font-variation-settings: 'FILL' 1;
}

.navdrawer-state-layer {
    margin-left: -16px;

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    
    opacity: 0;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
}

.navdrawer-option:hover .navdrawer-state-layer {
    background-color: var(--md-sys-color-on-secondary-container);
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.navdrawer-option:hover:not(.ativo) .navdrawer-state-layer {
    background-color: var(--md-sys-color-on-surface-variant);
}

.navdrawer-option.ativo {
    color: var(--md-sys-color-on-secondary-container);
    background-color: var(--md-sys-color-secondary-container);

    font-variation-settings: 'FILL' 1;

    font-weight: 500;
}

.navdrawer-text {
    display: none;
}

.navdrawer-text.expanded {
    display: block;
}

/* CABEÇALHO */

header#pagina {
    background-color: var(--md-sys-color-surface-container-low);
    width: calc(100% - 240px);
    height: 64px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

    transition: all 0s;

    padding: 0px 24px 0px 20px;

    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 240px;
}

.cabecalho-div {
    background-color: var(--md-sys-color-outline-variant);
    width: 1px;
    height: 36px;
}

#sistema-assessoria {
    color: var(--md-sys-color-on-surface);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;

    text-align: left;

    line-height: 16px;
}

/* CONTEÚDO */

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    padding-top: 64px;

    background-color: var(--md-sys-color-surface-container-low);

    overflow: visible !important;
}

.sistema-pagina {
    display: flex;
    width: calc(100% - 48px);

    padding: 24px 24px 24px 24px;

    background-color: var(--md-sys-color-surface);

    align-items: center;
    flex-direction: column;
    
    /* Para rolagem */
    overflow-y: auto;
    height: calc(100vh - 112px);
    max-height: calc(100vh - 112px); /* ajusta esse valor conforme altura do header e margens */

    position: relative;

    overflow-x: visible;

    border-top-left-radius: 16px;

    gap: 24px;
}

h1 {
    color: var(--md-sys-color-on-surface);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;

    text-align: center;

    line-height: 28px;

    white-space: nowrap;

    margin: 0px 0px 0px 8px;
}

#select-h1 {
    color: var(--md-sys-color-on-surface);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;

    text-align: left;

    height: 28px;

    box-sizing: border-box;

    background-color: var(--md-sys-color-surface);
    border: 0px;
    border-radius: 8px;
    padding: 0px 0px 0px 0px;

    cursor: pointer;
}

.formularios {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.area-boxes {
    display: grid;
    grid-template-columns: 340px 340px;
    gap: 12px;
    justify-content: center;
}

.area-boxes.grid3 {
    grid-template-columns: 340px 340px 340px;
}

.area-boxes.mono {
    grid-template-columns: 480px;
}

.base-box {
    background-color: var(--md-sys-color-primary-container);

    padding: 24px;
    box-sizing: border-box;

    width: 100%;

    height: min-content;

    border-radius: 16px;
}

.h2-ativar {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-top: -4px;
    margin-bottom: -4px;
}

.h2-ativar.ativo {
    margin-bottom: 20px;
}

.h2-ativar h2 {
    margin: 0px;
}

h2 {
    color: var(--md-sys-color-on-primary-container);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;

    text-align: left;

    line-height: 12px;

    margin: 0px 0px 16px 0px;

    white-space: nowrap;
}

.base-boxcampos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.base-boxcampos.grupo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.campo {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.label {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    height: 16px;

    align-items: center;    
}

.label-campo {
    color: var(--md-sys-color-on-primary-container);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;

    text-align: left;

    line-height: 9px; 

    display: flex;
    align-items: center;
}

input.input {
    color: var(--md-sys-color-on-surface-variant);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;

    text-align: left;

    height: 36px;
    width: 100%;

    box-sizing: border-box;

    background-color: var(--md-sys-color-surface-container-lowest);
    border: 0px;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;

    overflow: hidden; /* esconde qualquer conteúdo que ultrapasse a largura */
    white-space: nowrap; /* faz com que o texto não quebre para a próxima linha */
    text-overflow: ellipsis; /* adiciona "..." para indicar que o texto foi truncado */
}

input.input:focus {
    outline: none;
}

input::placeholder {
  color: #bdbdbd;
  font-weight: 500;
}

.campo-texto {
    color: var(--md-sys-color-on-surface);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;

    text-align: justify;
}

.campo-texto p {
    margin: 0px;
}

#copiar {
    cursor: pointer;
}

.campo select {
    color: var(--md-sys-color-on-surface-variant);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 600;

    text-align: left;

    height: 36px;
    width: 100%;

    box-sizing: border-box;

    background-color: var(--md-sys-color-surface-container-lowest);
    border: 0px;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
}

.box-duplo {
    display: flex;
    flex-direction: column;
    gap: 12px;

    box-sizing: border-box;
    width: 100%;
}

.campo-duplo {
    display: flex;
    flex-direction: row;

    gap: 4px;
}

.campo-duplo .campo {
    width: 100%;
}

.campos-divisoria {
    width: 100%;
    height: 1px;

    background-color: var(--md-sys-color-on-primary-container);
    border-radius: 1px;

    margin-top: 12px;
    margin-bottom: 12px;
}

.input.top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    height: 40px;
}

.input.top-left {
    border-top-left-radius: 8px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    height: 40px;
}

.input.top-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    height: 40px;
}

.input.center {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    height: 40px;
}

.input.bot-left {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 4px;

    height: 40px;
}

.input.bot-right {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 8px;

    height: 40px;
}

.input.bot {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    height: 40px;
}

/* BOTÕES */

.sistema-pagina button{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    line-height: 16px;

    height: 40px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;

    border-radius: 20px;
    box-sizing: border-box;

    transition: all 0.1s ease-in-out;
    
    position: relative;
}

button .material-symbols-rounded {
    font-size: 20px;
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 20;
}

button.filled {
    background-color: var(--md-sys-color-on-primary-container);
    border: none;
    
    color: var(--md-sys-color-primary-container);
}

.button-state-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
    opacity: 0;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
}

button:hover .button-state-layer {
    background-color: var(--md-sys-color-primary-container);
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

button:active {
    font-weight: 500;
    border-radius: 10px;
}

button:active .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
}

button:active .button-state-layer {
    background-color: var(--md-sys-color-primary-container);
    opacity: var(--md-sys-state-pressed-state-layer-opacity);

    border-radius: 10px;
}

/* SWITCH (não está em uso) */

.md-switch {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.md-switch input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.track {
    position: relative;
    width: 52px;
    height: 32px;
    border-radius: 16px;
    box-sizing: border-box;

    background: var(--md-sys-color-surface-container-highest);
    border: 2px solid var(--md-sys-color-outline);

    transition:
        background-color .2s,
        border-color .2s;
}

.thumb {
    position: absolute;
    top: 50%;
    left: 6px;

    width: 16px;
    height: 16px;

    border-radius: 8px;
    background: var(--md-sys-color-outline);

    transform: translateY(-50%);
    transition:
        left .25s cubic-bezier(.2,0,0,1),
        width .15s,
        height .15s,
        background-color .2s;
}

.md-switch input:checked + .track {
    background: var(--md-sys-color-primary);
    border-color: var(--md-sys-color-primary);
}

.md-switch input:checked + .track .thumb {
    left: 22px;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    background: var(--md-sys-color-on-primary);
}

.md-switch:active .thumb {
    border-radius: 14px;
    width: 28px;
    height: 28px;
}

.md-switch:active input:not(:checked) + .track .thumb {
    left: 0;
}

.md-switch:active input:checked + .track .thumb {
    left: 20px;
    border-radius: 14px;
    width: 28px;
    height: 28px;
}

.md-switch .track::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 50%;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    transform: translate(-50%, -50%);

    background: var(--md-sys-color-on-surface);
    opacity: 0;

    transition: .2s;

    pointer-events: none;
}

.md-switch input:checked + .track::before {
    left: 34px;
}

.md-switch:hover .track::before {
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.md-switch input:focus-visible + .track::before {
    opacity: var(--md-sys-state-focus-state-layer-opacity);
}

.md-switch:active .track::before {
    opacity: var(--md-sys-state-pressed-state-layer-opacity);
}

/* TOOLTIP */

.label .tooltip {
    cursor: pointer;

    color: var(--md-sys-color-on-surface);

    font-size: 20px;
    font-variation-settings: 'opsz' 20;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    overflow: visible;
}

.tooltip::before {
    content: '';

    position: absolute;

    width: 28px;
    height: 28px;

    border-radius: 50%;

    background-color: var(--md-sys-color-on-surface);

    opacity: 0;

    transition: opacity .2s;

    pointer-events: none;
}

.tooltip:hover::before {
    opacity: var(--md-sys-state-hover-state-layer-opacity);
}

.tooltip-global {
    position: fixed;

    display: inline-block;
    width: fit-content;

    max-width: 300px;

    white-space: normal;
    overflow-wrap: break-word;

    padding: 6px 8px;
    border-radius: 8px;

    background-color: var(--md-sys-color-inverse-surface);
    box-sizing: border-box;

    color: var(--md-sys-color-inverse-on-surface);
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.04em;

    text-align: center;

    opacity: 0;
    visibility: hidden;

    transition: opacity .2s;

    z-index: 1000;

    pointer-events: none;
}

.tooltip-global.ativo {
    opacity: 1;
    visibility: visible;
}

/* MENU EXPORTAR */

.menu-inferior {
    display: flex;
    flex-direction: row;

    background-color: var(--md-sys-color-primary-container);

    padding: 12px;
    box-sizing: border-box;

    border-radius: 16px;

    height: min-content;

    align-items: center;

    justify-content: space-between;

    position: sticky;

    margin-top: 24px;
    
    width: 692px;

    align-self: center;
}

.confirmacao {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.label-confirmacao {
    color: var(--md-sys-color-on-primary-container);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;

    overflow-wrap: break-word;

    height: 34px;

    align-items: center;
    display: flex;
    flex-direction: row;

    margin-left: 8px;
}

button#exportar {
    height: 56px;
    width: min-content;

    display: flex;
    flex-direction: row;
    gap: 8px;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;

    align-items: center;

    border: 0px;
    padding: 0px 24px 0px 24px;

    border-radius: 28px;
}

button#exportar .icon {
    font-size: 24px;
    font-variation-settings: 'fill' 0, 'wght' 500, 'grad' 0, 'opsz' 24;
}

button#exportar.enabled {
    cursor: pointer;
    background-color: #0F9D58;

    color: white;
}

button#exportar.disabled {
    cursor: not-allowed;
    background-color: rgb(from var(--md-sys-color-on-surface) r g b / 0.1);

    color: rgb(from var(--md-sys-color-on-surface) r g b / 0.38);
}

/* CONSULTA */

iframe {
    display: block;
    border: none;
    border-radius: 8px;
    height: 96px;
}

textarea {
    color: var(--md-sys-color-on-surface-variant);
    font-family: 'Roboto Mono';
    font-size: 12px;
    font-weight: 500;

    text-align: left;

    height: 48px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 48px;

    box-sizing: border-box;

    background-color: var(--md-sys-color-surface-container-lowest);
    border: 0px;
    border-radius: 8px;
    padding: 8px 8px 8px 8px;

    overflow: hidden; /* esconde qualquer conteúdo que ultrapasse a largura */
    text-overflow: ellipsis; /* adiciona "..." para indicar que o texto foi truncado */
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
  color: var(--md-sys-color-outline);
  font-weight: 500;
}

/* RESPONSIVIDADE */

@media (max-width: 1330px) {
    .area-boxes.grid3 {
        grid-template-columns: calc(33% - 8px) calc(33% - 8px) calc(34% - 8px);
    }
}

@media (max-width: 1100px) {
    .sistema-pagina {
        align-items: flex-start;
    }

    h1 {
        text-align: left;
    }

    .area-boxes {
        grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    }

    .area-boxes.grid3 {
        grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    }

    .menu-inferior {
        position: relative;

        width: 100%;

        margin-top: 12px;
    }
}

@media (max-width: 840px) {
    .area-boxes {
        grid-template-columns: 100%;
    }

    .area-boxes.grid3 {
        grid-template-columns: 100%;
    }

    .area-boxes.mono {
        grid-template-columns: 100%;
    }
}

@media (max-width: 760px) {
    .menu-inferior {
        flex-direction: column;
        gap: 12px;
    }

    .label-confirmacao {
        margin-left: 0px;
    }

    button#exportar {
        width: 100%;
    }
}