/* CSS Document */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#documento {
    background-color: white;
}

.tela-gov {
    display: flex;
    flex-direction: column;
    scale: 1.0;
    justify-self: start;

    width: 1538px;
    height: 866px;
}

header.header {
    width: 1538px;

    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #071D41;
    position: relative;
}

.header-gov {
    background-color: #071D41;
    height: 42px;

    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 1150px;
    box-sizing: border-box;

    padding-bottom: 2px;
}

.gov-menu {
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-top: 1px;
}

.gov-menu-divisoria {
    height: 20px;
    width: 1px;
    background-color: rgba(151, 151, 151, 0.3);
    margin-left: 20px;
    margin-right: 24px;
}

.gov-menu-opcao {
    color: white;
    
    font-family: 'Raleway';
    font-size: 11.2px;
    font-weight: 700;

    line-height: 24px;
    text-transform: uppercase;
}

.header-logo {
    height: 60px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;


    position: relative;
    width: 100%;
}

#logo-bcb {
    margin-top: 12px;
    width: 126px;
    height: 70.094px;
    z-index: 2;
}

.acessibilidade {
    height: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    position: absolute;
    right: 64px;
    margin-top: 13px;

    border-bottom: 1px dotted #025c75;
}

.acessibilidade-texto {
    color: #025C75;
    
    font-family: 'Ubuntu';
    font-size: 11.2px;
    font-weight: 300;

    line-height: 8px;
    text-transform: uppercase;
}

.header-menu {
    height: 58px;
    position: relative;
    background-color: #F8F9FA;

    display: flex;
    flex-direction: column;

    justify-content: center;

    border-top: 1px solid #dcddde;
    border-bottom: 1px solid #edd297;

    padding: 0px 49px;
    width: 100%;
    box-sizing: border-box;
}

.detalhe-header {
    width: 300px;
    height: 35px;
    position: absolute;
    border-bottom: 1px solid #dcddde;
    top: -2px;
    left: calc(50% - 150px);
    background-color: white;
    box-sizing: border-box;
}

.detalhe-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 36px solid #f8f9fa;
    border-right: 35px solid transparent;
    z-index: 1;
}

.detalhe-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 36px solid #f8f9fa;
    border-left: 35px solid transparent;
    z-index: 1;
}

.detalhe-header-left {
    transform: rotate(135deg);
    left: 16px;
    top: -6px;
    display: block;
    width: 0;
    height: 48px;
    border-right: 1px solid #e9ecef;
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
}

.detalhe-header-right {
    transform: rotate(225deg);
    right: 16px;
    top: -6px;
    display: block;
    width: 0;
    height: 48px;
    border-right: 1px solid #e9ecef;
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
}

.header-menu-barra {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 1px;
    background-color: #DCDDDE;
}

.header-menu-opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header-menu-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 89.594px;

    color: #005C7A;

    text-align: right;
    
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 500;

    line-height: 18px;
}

.header-menu-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75.188px;

    color: #005C7A;

    text-align: left;
    
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 500;

    line-height: 18px;
}

.material-icons-bacen {
    font-size: 36px;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;

    padding: 1px 16px 0px 16px;
}

.bacen-conteudo {
    display: flex;
    padding: 0px 74px 0px 74px;

    height: 100%;

    width: 1538px;
    box-sizing: border-box;
    
    align-items: center;
    justify-content: center;

    background-color: white;
}

.bcb-background {
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    width: 100%;
    box-sizing: border-box;
}

.bcb-background.pendencia {
    align-items: center;}

.bcb-background h1 {
    color: #606060;

    text-align: left;
    
    font-family: 'Ubuntu';
    font-size: 28.8px;
    font-weight: 500;

    line-height: 34.56px;

    margin: 0px;
}

.paineis {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#painel1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#painel1 header {
    display: flex;
    flex-direction: row;

    width: 400px;
}

.header-painel1 {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    height: 50px;
    border-top: 1px solid #025C75;
    border-right: 1px solid #025C75;
    border-bottom: 1px solid #025C75;
    padding-right: 12px;
    box-sizing: border-box;

    background-color: white;
    color: #025C75;

    text-align: left;
    
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: 500;

    line-height: 10px;

    border-top-right-radius: 6px;
}

#painel1-infos {
    margin-top: -1px;
    box-sizing: border-box;
    width: 404px;

    border-left: 1px solid #025C75;
    border-top: 1px solid #025C75;
    border-bottom: 1px solid #025C75;
    border-right: 1px solid #025C75;

    border-bottom-left-radius: 4px;

    background-color: white;

    padding: 24px 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.painel1-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.painel1-titulo {
    color: #025C75;

    text-align: left;
    
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: 500;

    line-height: 10px;
}

.painel1-input {
    color: #1A1A1A;

    text-align: left;
    
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 500;

    overflow: hidden;   
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 380px;
    max-width: 380px;
    min-width: 180px;
}

.painel1-duplo {
    display: grid;
    flex-direction: row;

    width: 380px;
    gap: 20px;
    grid-template-columns: 180px 180px;
}

.painel1-div {
    border-bottom: 1px dotted #707070;
}

.painel1-cnaes {
    color: #1A1A1A;

    text-align: justify;
    
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 500;

    width: 380px;
    max-width: 380px;
    min-width: 180px;

    white-space: normal;
}

#painel2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#painel2 header {
    display: flex;
    flex-direction: row;

    width: 400px;
}

.header-painel2 {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    height: 50px;
    border-top: 1px solid #025C75;
    border-right: 1px solid #025C75;
    border-bottom: 1px solid #025C75;
    padding-right: 12px;
    box-sizing: border-box;

    background-color: #025C75;
    color: white;

    text-align: left;
    
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: 500;

    line-height: 10px;

    border-top-right-radius: 6px;
}

#painel2-infos {
    margin-top: -1px;
    box-sizing: border-box;
    width: 404px;
    height: 100%;

    border-left: 1px solid #025C75;
    border-right: 1px solid #025C75;;
    border-top: 1px solid #025C75;
    border-bottom: 1px solid #025C75;

    background-color: #025C75;

    padding: 24px 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.painel2-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.painel2-titulo {
    color: white;

    text-align: left;
    
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: 500;

    line-height: 10px;
}

.painel2-input {
    color: white;

    text-align: left;
    
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 500;

    width: 380px;
    height: 176px;

    overflow-wrap: break-word; 
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
    line-clamp: 12;
    overflow: hidden;
}

@media print {
    html {
        background-color: white !important;
    }
    body {
        background-color: white !important;
    }
}

/* VARREDURA */

.doc-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doc-menu {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-notext-area {
    display: flex;
    align-items: center;
    background: #E7E9E9;
    height: 47px;
    border-top-right-radius: 8px;
    border-top: 1px #C5C5C5 solid;
    border-right: 1px #C5C5C5 solid;
}

.menu-notext {
    color: #666666;
    font-size: 13px;
    font-family: 'Ubuntu';
    font-weight: 300;
    line-height: 14.95px;
    text-align: left;
    white-space: nowrap;
    margin-left: 6px;
    margin-right: 10px;
}

.menu-text-area {
    display: flex;
    align-items: center;
    background: #fff;
    height: 47px;
    border-top-right-radius: 8px;
    border-top: 1px #025C75 solid;
    border-right: 1px #025C75 solid;
    position: relative;
}

.menu-text {
    color: #025C75;
    font-size: 13px;
    font-family: 'Ubuntu';
    font-weight: 300;
    line-height: 14.95px;
    text-align: left;
    white-space: nowrap;
    margin-left: 30px;
    margin-right: 10px;
}

.menu-icon {
    position: absolute;
    margin-left: -2px;
    color: #025C75;
}

.painel1 {
    display: flex;
    flex-direction: column;
}

.painel1-divs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.azul1 {
    width: 86px;
    height: 1px;
    background: #025C75;
}

.azul2 {
    width: 209px;
    height: 1px;
    background: #025C75;
}

.branco {
    width: 131px;
    height: 1px;
    background: #fff;
}

.painel1-area {
    display: flex;
    flex-direction: column;
    border-left: 1px #025C75 solid;
    border-bottom: 1px #025C75 solid;
    gap: 18px;
    width: 388px;
    height: 288px;
    padding: 22px 18px;
}

.campo-base {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.titulos {
    color: #025C75;
    font-size: 15px;
    font-family: 'Ubuntu';
    font-weight: 500;
    width: 100%;
}

.paineis-div {
    width: auto;
    height: 0px;
    border-bottom: 1px #CCCCCC dotted;
}

input {
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}

.campos {
    width: 100%;
    color: #1A1A1A;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.28px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-feature-settings: 'pnum' on, 'lnum' on;

    line-height: 16px;
    height: 16px;
}

.campo-split {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
}

.painel2 {
    display: flex;
    flex-direction: column;
    border-top: 1px #025C75 solid;
    border-bottom: 1px #025C75 solid;
    gap: 18px;
    width: 244px;
    height: 288px;
    padding: 22px 18px;
    background: #EEEEEE;
}

.concluida {
    color: #0F9D58;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    white-space: nowrap;
}

.valor {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    border: 1px #025C75 solid;
    border-radius: 4px;
    background: #fff;
    gap: 5px;
    align-items: center;
}

.valor-texto {
    color: #1A1A1A;
    font-size: 18px;
    font-family: 'Ubuntu';
    font-weight: 300;
    text-transform: uppercase;
    white-space: nowrap;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.painel3 {
    display: flex;
    align-items: center;
    border-top: 1px #025C75 solid;
    border-bottom: 1px #025C75 solid;
    padding: 22px 0px;
    background: #DDDDDD;
    height: 288px;
}

.painel3-content {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cut {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finalizador-fill {
    width: 60px;
    height: 272px;
    border-top: 1px #025C75 solid;
    border-right: 1px #025C75 solid;
    background: #DDDDDD;
}

.cut-inativo {
    height: 29px;
    width: 18px;
    border-left: 1px #C5C5C5 solid;
    background: #E7E9E9;
}

.cut-ativo {
    height: 29px;
    width: 18px;
    border-left: 1px #025C75 solid;
    background: #fff;
}